* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}
img {
	height: 100px;
	width: 100px;
}
.card {
	transform-style: scale(1);
	transform-style: preserve-3d;
	transition: tranform .5s;
}
.card:active {
	transform:scale(.95);
	transition: transform .2s;
}
.flip {
	transform: rotateY(180deg);
}
.front-card {
	transform: rotateY(180deg);
}
.front-card,
.back-card {
	height: 100%;
	width: 100%;
	position: absolute;
	background: #7886d7;
	backface-visibility: hidden;
}

