* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}
h1 {
	font-family: 'Leckerli One', cursive;
}
img {
	height: 100px;
	width: 100px;
}
.card {
	transform-style: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
	cursor: pointer;
	width: 22%;
	height: 10rem;
}
.card:hover {
	transform: skew(2deg, 2deg);
}
.card:active {
	transform:scale(.95);
	transition: transform .2s;
}
.card.flip {
	transform: rotateY(180deg);
}
.front-card {
	transform: rotateY(180deg);
}
.front-card,
.back-card {
	height: 100%;
	width: 100%;
	position: absolute;
	background: #7886d7;
	backface-visibility: hidden;
}
.shuffle {
	margin-left: -30px;
}

